<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLD DRAGON</title>
</head>
<body>
    <!-- atrubuição de atributos -->
     <section class="container">
        <h1 class="titulo">Old Dragon</h1>
        <div class="content">
            <div class="ficha">
                <h2>Atribua um valor aos atributos</h2>
                
                </select>
            </div>
        </div>
    </section>
</body>
</html>