<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Old Dragon</title>
</head>
<body>
    <section class="container">
        <h1 class="titulo">Old Dragon</h1>
        <div class="content">
            {% if criado %}
            <div class="ficha">
                <p class="personagem-desc"><< {{ personagem.nome }} >></p>
                <p class="personagem-desc">{{ personagem.raca.descricao }}</p>
                {% for atributo, valor in personagem.atributos.items() %}
                    <li class="atributos-lista">{{ atributo }}: {{ valor }}</li>
                {% endfor %}

                <form action="{{ url_for('index') }}" method="GET" class="form-ficha">
                    <button type="submit">Criar Novo Personagem</button>
                </form>
            </div>
            <img src="{{ url_for('static', filename=image_file) }}" alt="{{ personagem.classe.titulo }}" title="{{ personagem.classe.titulo }}"> 
            {% else %}
                <p>Nenhum personagem criado ainda.</p>
            {% endif %} 
        </div>
    </section>
</body>
</html>