<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Old Dragon</title>
</head>
<body>
    <nav>
        <ul>
            <!-- <li><a href="/"><img src="/static/images/adicionar-usuario.png"></a></li> -->
            <li><a href="/"><img src="/static/images/editar.png" title="Editar personagem"></a></li>
            <li><a href="/"><img src="/static/images/remover-usuario.png" title="Remover personagem"></a></li>
            <li><a href="/"><img src="/static/images/listar-personagem.png" title="Listar personagens"></a></li>
        </ul>


    </nav>
    <section class="container">
        <h1 class="titulo">OLD DRAGON</h1>
        <!--mostra de racas e classes -->
        <div class="content">
            <form action="{{ url_for('criar_personagem') }}" method="post">
                <h2>Crie seu personagem</h2>
                <input type="text" name="nome" placeholder="Nome" required>
                <select name="raca" required>
                    <option selected hidden>Raça</option>
                    <option value="1">Anão</option>
                    <option value="2">Elfo</option>
                    <option value="3">Humano</option>
                    <option value="4">Halfling</option>
                </select>

                <select name="classe" required>
                    <option selected hidden>Classe</option>    
                    <option value="1">Ladrão</option>
                    <option value="2">Guerreiro</option>
                    <option value="3">Clérigo</option>
                </select>

                <select name="aventura" required>
                    <option selected hidden>Aventura</option>
                    <option value="1">Clássico</option>
                    <option value="2">Aventureiro</option>
                    <option value="3">Heróico</option>
                </select>
                <button type="submit">Criar</button>
            </form>
            
            <img src="{{( url_for('static', filename='images/olddragon.png'))}}" alt="olddragon">
        </div>
    </section>
        
        
</body>
</html>