<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Old Dragon</title>
</head>
<body>
    <div class="container">
        <h1 class="titulo">Old Dragon</h1>
        <div class="content">
            <div class="ficha">
                <h2>Ficha do personagem:</h2>
                <div class="dados">
                    <h3>Nome: </h3> <p>{{ name }}</p>
                </div>
                <div class="dados">
                    <h3>Classe: </h3> <p>{{ classe }}</p>
                </div>
                <div class="dados">
                    <h3>Raça: </h3> <p>{{ race }}</p>
                </div>
            </div>

            <img src="{{ url_for('static', filename=image_file) }}" alt="{{ classe }}" width="250">
        </div>
    </div>
</body>
</html>